{% extends 'base.html' %}

{% block content %} 
    <div class="card">
        <div class="container py-5 h-100">
            <div class="card bg-light" style="border-radius: 1rem;">
                <div class="card-body p-5">
                    <form method="POST" class="form-group">
                        {{form.hidden_tag()}}
                        <h2 class="fw-bold mb-2 text-uppercase">CREATE NEW POST</h2>
                        <div class="form-outline form-white mb-4">
                            {{form.title.label(class="form-label")}}
                            {{form.title(class="form-control form-control-lg")}}
                        </div>
                        <div class="form-outline form-white mb-4">
                            {{form.text.label(class="form-label")}}
                            {{form.text(class="form-control form-control-lg")}}
                        </div>
                        <div class="text-center">
                        {{form.submit(class="btn btn-outline-dark btn-dark px-5")}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}