{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
        
        <h2>BlinkBlurb</h2>
            <p> 
                <b>BlinkBlurb</b> is a one-of-a-kind online platform designed exclusively for BlinkBlurbs like you. With our user-friendly website, we've made it incredibly easy for users to create an account, share their thoughts, and post their blogs with minimal hassle. Dive into the world of concise and impactful content creation with our unique website.
            </p>
            <br>

            <h3>Key Features:</h3>
            <dl>
                <dt>Simple Registration:</dt>
                <dd>-Get started in a breeze with our hassle-free registration process. All you need is an email address, and you're ready to start micro blogging.</dd>
                
                <dt>Intuitive Blogging:</dt>
                <dd>-Our website boasts an intuitive interface for creating and publishing blogs. You can focus on your content without worrying about complex tools.</dd>

                <dt>User Profiles:</dt>
                <dd>-Customize your user profile to reflect your personality and interests. Upload a profile picture and let others get to know you better.</dd>

                <dt>Seamless Blog Posting:</dt>
                <dd>-Share your thoughts, stories, and insights in a matter of clicks. Craft your micro blogs with ease, and watch your ideas come to life.</dd>
            
                <dt>Privacy Assurance:</dt>
                <dd>-We prioritize your online safety. Your data is securely stored, and you have control over your privacy settings.</dd>

                <dt>Community Guidelines:</dt>
                <dd>-Our platform promotes a positive and respectful environment for all users. Review our guidelines for an enjoyable blogging experience.</dd>

                <dt>Simplified Experience:</dt>
                <dd>-We've streamlined the micro blogging process, so you can focus on what you do best—sharing your thoughts with the world.</dd>
            </dl>

        <br>
        
        <h3>Why Choose BlinkBlurb?</h3>
            <dl>
                <dt>Specialized Platform:</dt>
                <dd>-Unlike traditional blogging platforms, we are dedicated solely to micro blogging, ensuring your content receives the attention it deserves.</dd>

                <dt>User-Centric Design:</dt>
                <dd>-Our website is built with you in mind. We prioritize user experience, making blogging a breeze for both beginners and experienced writers.</dd>
                
                <dt>Join a Growing Community:</dt>
                <dd>-Be a part of a burgeoning community of BlinkBlurbs who value the art of concise and impactful writing.</dd>

                <dt>Start Micro Blogging Today:</dt>
                <dd>-There's no need to wait. Join BlinkBlurb now and start sharing your unique perspective with the world.</dd>
                
            </dl>
            <br>
            <h3>Get Started Today!</h3>
            <p>
                Register on BlinkBlurb today, and embark on your micro blogging journey. Whether you're an expert in your field or simply passionate about sharing your ideas, our website provides the perfect platform to reach your audience.
            </p>
            <br>
            <h3>Welcome Note</h3>
            <p>
                Hi I'm <b>Abdul Rahman</b>, I welcome you all to BlinkBlurb platform designed exclusively for BlinkBlurbs like you.<br>
                <b><ul>
                    <li><a href="https://www.linkedin.com/in/abdul-rahman-m-660158206/">LinkedIn</a></li>
                    <li><a href="https://github.com/rahmanghub">Github</a></li>
                </ul></b>
            </p>
    </div>
{% endblock %}
